body {
    /* background-color: gainsboro;  */
    margin: 0px;
    padding: 0px;
    background: linear-gradient(120deg, white, #c6d9eb  );
}

p,
li {
    font-size: 1.1em;
    line-height: 30px;
}

header {
    text-align: center;
}

header h1 {
    font-size: 4em;
    font-family: 'Major Mono Display', monospace;
}

#me {
    width: 12vw;
    position: absolute;
    top: 5%;
    right: 4%;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 grey;
}

#me:hover {
    width: 14vw;
    height: auto;
    transform: rotate(10deg);
}

#corpsdelapage {
    display: inline-block;
    margin: 0px 5% 0px 0px;
}

#bloc_gauche {
    background-color: white ;
    width: 20%;
    float: left;
    margin-right: 3%;
    margin-left: 2%;
    padding: 1% 1% 3% 3%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

li {
    list-style: none;
}

#bloc_gauche li {
    list-style-type: circle;
}

#bloc_gauche h3,
#contenu_central h3 {
    font-family: 'Sacramento', cursive;
    font-size: 2.5em;
    color: #000066;
}

span {
    margin-top: 20px;
}

#contenu_central h3 {
    display: inline-block;
    padding: 10px;
    margin-bottom: 15px;
    color: #ff0066;
}

#contenu_central {
    width: 63%;
    float: right;
}

#contenu_central p {
    text-indent: 4em;
}

#contenu_central p::first-letter {
    font-size: 250%;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    padding-right: 3px;
}

.images {
    text-align: right;
}

#cap {
    display: inline-block;
    vertical-align: text-top;
}

#java {
    width: 7vw;
    height: auto;
    margin: -2% 16% 10% 0px;
}

/* #java:hover {
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */

#java:hover{
    transform: perspective(200px) rotateY(405deg);
}

#contenu_central a:link,
#bloc_gauche a:link,
#contenu_central a:visited,
#bloc_gauche a:visited {
    color: #ff0066;
    text-decoration: none;
}

#parcours,
#exp {
    background-color: white;
    opacity: 0.9;
    width: 40%;
    display: inline-block;
    padding: 5px 20px 20px 20px;
    text-indent: 2em;
    z-index: 4;
}

#parcours {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding-right: 6%;
    padding-bottom: 4%;
}

#parcours li,
#exp li {
    margin-bottom: 5px;
    text-indent: -2em;
}

#parcours li i {
    float: right;
}

#exp {
    float: right;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

svg {
    padding-left: 39%;  
    overflow: visible;    
    position: relative;
    bottom: 350px;
    z-index: -1;
}


footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    text-align: center;
    padding: 50px 0px 40px 0px;
    border-top-right-radius: 80%;
    border-top-left-radius: 80%;
}

.bouton {
    background-color: #ff0066;
    Color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 grey;
    text-decoration: none;
}

.bouton:hover {
    background-color: #000066;
}

#mail {
    margin-left: 50px;
}